<main>
  <h1 class="page-title">Sanal Kartlar</h1>
  <p class="page-description">
    Bu ekrandan sanal kartılarınızı yönetebilirsiniz.
  </p>
  <hr>
  <div class="cards">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">
        <mat-card class="card-item" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Provider</mat-card-title>
            <mat-card-subtitle>Ixaris</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <ul class="list-group">
              <li class="list-group-item">Card Referance</li>
              <li class="list-group-item">Card no:</li>
              <li class="list-group-item">Bakiye</li>
            </ul>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-12 col-md-4 col-lg-3">
        <mat-card class="card-item" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Provider</mat-card-title>
            <mat-card-subtitle>Ixaris</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <ul class="list-group">
              <li class="list-group-item">Card Referance</li>
              <li class="list-group-item">Card no:</li>
              <li class="list-group-item">Bakiye</li>
            </ul>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-12 col-md-4 col-lg-3">
        <mat-card class="card-item" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Provider</mat-card-title>
            <mat-card-subtitle>Ixaris</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <ul class="list-group">
              <li class="list-group-item">Card Referance</li>
              <li class="list-group-item">Card no:</li>
              <li class="list-group-item">Bakiye</li>
            </ul>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-12 col-md-4 col-lg-3">
        <mat-card class="card-item" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Provider</mat-card-title>
            <mat-card-subtitle>Ixaris</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <ul class="list-group">
              <li class="list-group-item">Card Referance</li>
              <li class="list-group-item">Card no:</li>
              <li class="list-group-item">Bakiye</li>
            </ul>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-12 col-md-4 col-lg-3">
        <mat-card class="card-item" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Provider</mat-card-title>
            <mat-card-subtitle>Ixaris</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <ul class="list-group">
              <li class="list-group-item">Card Referance</li>
              <li class="list-group-item">Card no:</li>
              <li class="list-group-item">Bakiye</li>
            </ul>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-12 col-md-4 col-lg-3">
        <mat-card class="card-item" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Provider</mat-card-title>
            <mat-card-subtitle>Ixaris</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <ul class="list-group">
              <li class="list-group-item">Card Referance</li>
              <li class="list-group-item">Card no:</li>
              <li class="list-group-item">Bakiye</li>
            </ul>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-12 col-md-4 col-lg-3">
        <mat-card class="card-item" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Provider</mat-card-title>
            <mat-card-subtitle>Ixaris</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <ul class="list-group">
              <li class="list-group-item">Card Referance</li>
              <li class="list-group-item">Card no:</li>
              <li class="list-group-item">Bakiye</li>
            </ul>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-12 col-md-4 col-lg-3">
        <mat-card class="card-item" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Provider</mat-card-title>
            <mat-card-subtitle>Ixaris</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <ul class="list-group">
              <li class="list-group-item">Card Referance</li>
              <li class="list-group-item">Card no:</li>
              <li class="list-group-item">Bakiye</li>
            </ul>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</main>
