<header class="header">
  <mat-toolbar color="primary">
    <span>Amadeus B2B Wallet</span>
    <span class="example-spacer"></span>
    <ul class="header-menu">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Anasayfa</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">Hakkında</a>
      </li>
      <li>
        <a routerLink="/cards" routerLinkActive="active">Sanal Kartlar</a>
      </li>
    </ul>
  </mat-toolbar>
</header>
